*.jar
*.war
*.ear

*/target
/bin

*.log.*
*.log
/.classpath
/.project
.settings/

*.idea*
*.project
*.iml

*.class
/*/.classpath

/target/
.gitignore
src/com/bobrovsky/task24_6/Level1backup.java
src/com/mentor/
src/com/bobrovsky/task24_6/Level1temp.java
src/com/bobrovsky/task24_6/RandomString.java
